{% load static %}
{% load thumbnail %}
<div class="col-md-4">

    <div class="card card-blog">
                {% if post.image %}
              <div class="card-img" >
                <a href="{{ post.get_absolute_url }}">
                {% thumbnail post.image "1000x666" quality=65 as im %}
                    <img src="{{ im.url }}" alt="{{ post.title }}" class="img-fluid img-thumbnail">
                {% endthumbnail %}
                </a>
              </div>
                    {% else %}
                <div class="card-img">
                    <a href="{{ post.get_absolute_url }}" >
                        <img src="{% static 'assets/img/no-photo-available-icon-13.jpg' %}" alt="{{ post.title }}" class="img-fluid img-thumbnail">
                    </a>
                </div>
                {% endif %}
              <div class="card-body">
                <h3 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title  }}</a></h3>
                <p class="card-description">
                  {{ post.description|truncatewords:10 }}
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="{% url 'home:index_page'  %}#about" target="_blank">
                      {% if post.author.avatar %}
                            <img src="{{ post.author.avatar.url }}" alt="" class="avatar rounded-circle">
                        {% else %}
                            <img src="{% static 'assets/img/no-profile-picture-icon-2.png' %}" alt="{{ post.author.get_full_name }}" class="avatar rounded-circle">
                      {% endif %}
                    <span class="author">{{ post.author }}</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> {{ post.updateDate.minute }} minutes
                </div>
              </div>
            </div>

            </div>