{% load static %}
        <div class="col-md-4">
            <div class="card card-blog">
              <div class="card-img">
                <a href="{{ post.get_absolute_url }}"><img src="{% static 'assets/img/post-1.jpg' %}" alt="" class="img-fluid"></a>
              </div>
              <div class="card-body">
                <h3 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title  }}</a></h3>
                <p class="card-description">
                  {{ post.description|truncatewords:10 }}
                </p>
              </div>
              <div class="card-footer">
                <div class="post-author">
                  <a href="#">
                    <img src="{% static 'assets/img/testimonial-2.jpg' %}" alt="" class="avatar rounded-circle">
                    <span class="author">{{ post.author }}</span>
                  </a>
                </div>
                <div class="post-date">
                  <span class="bi bi-clock"></span> {{ post.updateDate.minute }} minutes
                </div>
              </div>
            </div>
          </div>
