{% extends 'main/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}
{% load static %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <div class="container">
            {% include 'user_panel/components/messages.html' %}
            <div class="row">
                <div class="col-md-4" id="dashboardPartial">
                    {% render_partial 'user_panel.views.DashboardViewPartial' %}
                </div>
                <div class="col-md-8">
                <form class="form-floating form-md" action="{% url 'user_panel:change-password' %}" method="POST">
                    <div class="container-fluid">
                        {% csrf_token %}
                        {{ form.current_password.label }}
                        <div class="mb-3">
                            {{ form.current_password }}
                        </div>
                        {{ form.password.label }}
                        <div class="mb-3">
                            {{ form.password }}
                        </div>
                        {{ form.confirm_password.label }}
                        <div class="mb-3">
                            {{ form.confirm_password }}
                        </div>
                        {% if form.errors %}
                            <ul>
                                <li class="alert alert-danger">{{ form.errors }}</li>
                            </ul>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Edit Information</button>
                        <div class="contact-mf"></div>
                </form>
            </div>
    </div>
    </div>
{% endblock %}