{% load static %}
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="{{ profile.avatar.url }}" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>{{ profile.name }}</span></p>
                        <p><span class="title-s">Profile: </span> <span>{{ profile.profile }}</span></p>
                        <p><span class="title-s">Email: </span> <span>{{ profile.email }}</span></p>
                        <p><span class="title-s">Phone: </span> <span>{{ profile.phone }}</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill's</p>
                   <div class="container row">
                        {% for hero_skill in hero_skills.skills.all %}
                       <span><a class="color-a">
                        {{ hero_skill }}
                       </a></span>
                        {% endfor %}
                  </div>
                      </div>
                </div>{% if profile.about %}
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>

                    <p class="lead">
                        {{ profile.about|safe }}
                    </p>
                  </div>{% endif %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
