{% extends 'main/_layout.html' %}
{% load render_partial %}
{% load static %}


{% block title %}Home Page{% endblock %}
{% block content %}
  <main id="main">
    <!-- ======= About Section ======= -->
      {% render_partial 'home.views.AboutPartialView' %}
    <!-- End About Section -->
    <!-- ======= Services Section ======= -->
    {% render_partial 'home.views.ServicesPartialView' %}
    <!-- End Services Section -->
    <!-- ======= Blog Section ======= -->
    {% render_partial 'post.views.PostsListView' %}
    <!-- End Blog Section -->
    <!-- ======= Contact Section ======= -->
      {% render_partial 'contact.views.ContactFormView' %}
    <!-- End Contact Section -->
  </main>
 <!-- End #main -->
{% endblock %}