{% load static %}
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Skills
              </h3>
              <p class="subtitle-a">
                What do I do?!
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
    {% for skill in skills.all %}
          <div class="col-md-12">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi {% cycle 'bi-briefcase' 'bi-laptop' %} "></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">{{ skill.skill }}</h2>
                <p class="s-description text-center">
                    {{ skill.short_description }}
                </p>
              </div>
            </div>
    {% endfor %}

          </div>
        </div>
      </div>
    </section>
