asgiref==3.5.2
autopep8==1.7.0
crispy-bootstrap5==0.6
Django==4.1
django-ckeditor==6.4.2
django-crispy-forms==1.14.0
django-js-asset==2.0.0
django-render-partial==0.4
Pillow==9.2.0
pycodestyle==2.9.1
sorl-thumbnail==12.8.0
sqlparse==0.4.2
toml==0.10.2
