{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% render_partial 'home.views.SeoModelView' %}
  <title>
      {% block title %}{% endblock title %}
  </title>
  {% include 'main/includes/header_references.html' with logo=settings.logo %}
</head>
<body>
{% render_partial 'home.views.HeaderComponentView' %}
{% render_partial 'home.views.HeroComponentView' %}
{% block content %}{% endblock content%}
{% render_partial 'home.views.FooterComponentView' %}
{% include 'main/includes/footer_refrences.html' %}
</body>
</html>