{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
      {% block title %}DevFolio Bootstrap Portfolio Template - Index{% endblock title %}
  </title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% include 'main/includes/header_references.html' %}
</head>
<body>
{% block header_references %}{% render_partial 'home.views.header_component' %}{% endblock header_references %}
{% block content %}{% endblock content%}
{% block footer_components %}{% render_partial 'home.views.footer_component' %}{% endblock footer_components %}
{% block footer_references %}{% include 'main/includes/footer_refrences.html' %}{% endblock %}
</body>
</html>