{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>
      {% block title %}{% endblock title %}
  </title>
  <meta content="My Personal Website Powered By django" name="description">
  <meta content="PersonalSite" name="keywords">
  {% include 'main/includes/header_references.html' with logo=settings.logo %}
</head>
<body>
{% block header_references %}{% render_partial 'home.views.HeaderComponentView' %}{% endblock header_references %}
{% block content %}{% endblock content%}
{% block footer_components %}{% render_partial 'home.views.FooterComponentView' %}{% endblock footer_components %}
{% block footer_references %}{% include 'main/includes/footer_refrences.html' %}{% endblock %}
</body>
</html>