{% load static %}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

{#      <h1 class="logo"><a href="posts_list.html">DevFolio</a></h1>#}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'home:index_page' %}" class="logo"><img src="{{ settings.logo.url }}" alt="" class="img-fluid"></a>
        <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home:index_page' %}#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:index_page' %}#about">About</a></li>
          <li><a class="nav-link scrollto" href="{% url 'home:index_page' %}#services">Services</a></li>
          <li><a class="nav-link scrollto " href="{% url 'home:index_page' %}#blog">Blog</a></li>
            {% if request.user.is_authenticated %}
          <li><a class="nav-link scrollto " href="{% url 'user_panel:dashboard' %}">Dashboard</a></li>
          <li><a class="nav-link scrollto " href="{% url 'account:logout' %}">Logout</a></li>
            {% else %}
          <li><a class="nav-link scrollto " href="{% url 'account:register' %}">Register</a></li>
          <li><a class="nav-link scrollto " href="{% url 'account:login' %}">Login</a></li>
            {% endif %}
          <li><a class="nav-link scrollto" href="{% url 'home:index_page' %}#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->