{% extends 'main/_layout.html' %}
{% load static %}
{% block title %} Login  {% endblock %}
{% block content %}
<div class="container-fluid">
<div class="container">
    <div class="col-md-6">
        <div class="col-md-6">
            <form class="form-group" action="" method="post">
                    {% csrf_token %}
                    {% for foo in form %}
                            {{ foo.label_tag }}
                            {{ foo }}
                            {{ foo.errors }}
                    {% endfor %}
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Login</button>
                          </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
