{% extends 'home/index.html' %}
{% load static %}
{% block title %} Register  {% endblock %}
{% block content %}

    <div class="container-fluid">

    <div class="container">
    {% if form.errors %}
    <div class="col-md-6">
        <div class="alert alert-danger" >{{ form.errors }}
    </div>
    {% endif %}
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

        <div class="col-md-4">
            <form class="form-group"  action="{% url 'account:forgot-password' %}" method="post">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.password }}
                    {{ form.confirm_password }}
                <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
