{% extends 'main/_layout.html' %}
{% load static %}
{% block title %} Reset Password  {% endblock %}
{% block content %}

    <div class="container-fluid">

    <div class="container">
    {% if form.errors %}
    <div class="col-md-6">
        <div class="alert alert-danger" >{{ form.errors }}
    </div>
    {% endif %}

        <div class="col-md-6">
            <form class="form-group" action="{% url 'account:reset_password' activation_code=user.email_verification_code %}" method="post">
                    {% csrf_token %}
                    {{ form.password }}
                    {{ form.confirm_password }}
                <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Forgot Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}
