{% load static %}
{% block content %}
    <section id="blog" class="blog-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Blog
              </h3>
              <p class="subtitle-a">
                {{ short_description }}
                {#TODO: add fonts#}
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
            {% for post in posts %}
                {% include 'post/includes/posts_list_partial.html' %}
            {% endfor %}
        </div>
      </div>
    </section>
{% endblock %}