{% load static %}
{% load render_partial %}
    <section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url({% static 'assets/img/overlay-bg.jpg' %})">
      <div class="overlay-mf"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Contact
                      </h5>
                    </div>
                    <div>
                      <form action="{% url 'contact-me:contact-form' %}" method="post" enctype="multipart/form-data" method="post" role="form" class="form-floating">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                                {{ field }}
                                {{ field.errors }}
                            {% endfor %}
                          <div class="col-md-12 text-center my-3">
                                {% if form.errors %}
                              <li class="alert alert-danger">{{ form.errors }}</li>
                                {% endif %}
                              {% if messages %}
                            <ul class="messages">
                                  {% for message in messages %}
                                        <li {% if message.tags %}class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
                                  {% endfor %}
                            </ul>

                              {% endif %}
                          </div>
                          <div class="col-md-12 text-center">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                    <div class="col-md-6">
                        <div class="title-box-2 pt-4 pt-md-0">
                            <h5 class="title-left">
                                Get in Touch
                            </h5>
                        </div>
                        <div class="more-info">
                            {% if object.getInTouchText %}<p class="lead">{{ object.getInTouchText|safe }}</p>{% endif %}
                            <ul class="list-ico">
                                {% if object.address %}<li><span class="bi bi-geo-alt"></span> {{ object.address }}</li>{% endif %}
                                {% if object.phone_number %}<li><span class="bi bi-phone"></span> {{ object.phone_number }}</li>{% endif %}
                                {% if object.email_address %}<li><span class="bi bi-envelope"></span> {{ object.email_address }}</li>{% endif %}
                            </ul>
                        </div>
                        <div class="socials">
                            <ul>
                                {% for foo in social_media %}
                                <li><a href="{{ foo.account_link }}"><span class="ico-circle"><i class="bi bi-{{ foo.platform }}"></i></span></a></li>
                                {% endfor %}


                            </ul>
                        </div>
</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

